<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Uzytkownik</title>
	<meta charset="utf-8">
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<link rel="stylesheet"
		  th:href="@{../css/demo.css}" type="text/css" />
</head>
<body th:style="'background-color: #ffe6e6'">

<div class="container list">
	<br>
	<h3 class="title" style = "float:left;">Formularz użytkownika</h3>
	<nav class="navbar justify-content-end">
		<a th:href="@{/api/users}"><button type="button"
					class="btn btn btn-primary mr-3 mb-2">Back</button></a>

	</nav>
	<form action="#" th:action="@{/api/users/save}"
		  th:object="${user}" method="POST">
		<div class="row">

			<input type="hidden" th:field="*{id}" />
			<div class="mb-3 col">
				Imię: <input type="text" th:field="*{name}"
							 class="form-control col-10">
			</div>
			<div class="mb-3 col">
				Nazwisko: <input type="text" th:field="*{surname}"
								 class="form-control col-10">
			</div>

		</div>

		<div class="nav justify-content-end">
			<button type="submit" class="btn mt-4 btn-info col-2 mr-2  ">Zapisz</button>
			<a th:href="@{/api/users}" class="btn mt-4 col-2 btn-danger ">Anuluj</a>
		</div>

	</form>

	</div>
</div>

</body>

</html>